:root{
  --color-primary-light: #df617f;
  --color-primary: #5698c3;
  --color-primary-dark: #0f1423;

  --color-secondary-light: #cec2ae;
  --color-secondary: #694026;
  --color-secondary-dark: #26150a;
}